foc_r76_backup_modified/l4/pkg/bootstrap/server/src/bits/
foc_r76_backup_modified/l4/pkg/bootstrap/server/src/cassert
foc_r76_backup_modified/l4/pkg/bootstrap/server/src/cstdlib
foc_r76_backup_modified/l4/pkg/bootstrap/server/src/cstring
foc_r76_backup_modified/l4/pkg/cxx
foc_r76_backup_modified/l4/pkg/l4sys
foc_r76_backup_modified/l4/pkg/l4util
foc_r76_backup_modified/l4/pkg/ldscripts
foc_r76_backup_modified/l4/pkg/libgcc
foc_r76_backup_modified/l4/pkg/libgcc-pure
foc_r76_backup_modified/l4/pkg/libsigma0
foc_r76_backup_modified/l4/pkg/uclibc-headers
foc_r76_backup_modified/l4/pkg/uclibc-minimal
.svn
