foc_72/l4/pkg/bootstrap/server/src/bits/
foc_72/l4/pkg/bootstrap/server/src/cassert
foc_72/l4/pkg/bootstrap/server/src/cstdlib
foc_72/l4/pkg/bootstrap/server/src/cstring
foc_72/l4/pkg/cxx
foc_72/l4/pkg/l4sys
foc_72/l4/pkg/l4util
foc_72/l4/pkg/ldscripts
foc_72/l4/pkg/libgcc
foc_72/l4/pkg/libgcc-pure
foc_72/l4/pkg/libsigma0
foc_72/l4/pkg/uclibc-headers
foc_72/l4/pkg/uclibc-minimal
.svn
