foc/l4/pkg/bootstrap/server/src/bits/
foc/l4/pkg/bootstrap/server/src/cassert
foc/l4/pkg/bootstrap/server/src/cstdlib
foc/l4/pkg/bootstrap/server/src/cstring
foc/l4/pkg/cxx
foc/l4/pkg/l4sys
foc/l4/pkg/l4util
foc/l4/pkg/ldscripts
foc/l4/pkg/libgcc
foc/l4/pkg/libgcc-pure
foc/l4/pkg/libsigma0
foc/l4/pkg/uclibc-headers
foc/l4/pkg/uclibc-minimal
.svn
